<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="experience__caption">
      <div class="time-place">
        <div class="experience__name">
          <a href="https://goldcoastbroadband.com/" target="_blank">Gold Coast Broadband</a>
          <div>Network Engineer</div>
        </div>
        <div class="experience__time">June 2020 - December 2020</div>
      </div>
    </div>
    <p>Worked on implementing and testing bash and python script to automate the process of managing firewall rules</p>
    <p>Contributed on improving security by upgrading from Telnet to SSH Service for remote management</p>
    <p>Configured Pi devices for monitoring building link system</p>
    <p>Created and restructured formulas for excel to improve and automate loading and arranging of data</p>
  </div>
</section>
