<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="experience__caption">
      <div class="time-place">
        <div class="experience__name">
          <a href="https://goldcoastbroadband.com/" target="_blank">Gold Coast Broadband</a>
          <div>Network Engineer</div>
        </div>
        <div class="experience__time">June 2020 - Present</div>
      </div>
    </div>
    <p>Work Done 1</p>
    <p>Work Done 2</p>
  </div>
</section>