<header class="intro">
  
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2>
    <div class="intro__tagline" style="display: flex">
        <div style="flex-grow: 2">I'm
          <span class="name">Dharmit Viradia</span>, a design-minded software engineer focused on building beautiful interfaces &amp; experiences
          <span class="emoji technologist"></span>
        </div>
    </div>
    <div style="flex-grow: 1; margin-bottom: 25px">
      <img class="rounded-circle tm-img-profile" src="{{site.baseurl}}/img/headshot.jpg"/>
    </div>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:dviradia@stevens.edu" target="_blank" class="highlight-link">dviradia@stevens.edu</a>
    </span>
  </h3>
  
</header>
